---
import { Image } from 'astro:assets'
import type { TrackAlbumPageColumns } from '@/types/track'

interface Props {
  album: TrackAlbumPageColumns | null
}

const { album } = Astro.props

const releaseYear = album?.release_year?.split('-')[0]

if (!album) return

const songs =
  album.songs.length > 1 ? `${album.songs.length} Canciones` : album.songs.length === 1 ? '1 Canción' : '0 Canciones'
---

<div class="relative flex w-full">
  <div class="relative flex h-full w-full items-end gap-4 sm:px-3 sm:pt-15">
    <div class="relative h-64 w-full flex-none sm:h-52 sm:w-52">
      <div class="absolute inset-0 z-10 bg-black/65 sm:hidden"></div>
      {
        album?.image_url && (
          <Image
            id="album-image"
            crossorigin="anonymous"
            transition:name={`playlist ${album.id} image`}
            src={album.image_url}
            alt={`${album.title} - ${album.artist}`}
            width={208}
            height={208}
            class="h-full w-full object-cover"
          />
        )
      }
    </div>
    <div class="absolute bottom-0 left-0 z-10 flex-col gap-1 sm:relative sm:bottom-auto sm:left-auto sm:flex">
      <div>
        <h5 class="text-platinum text-small hidden font-normal sm:block">Albúm</h5>
      </div>
      <div class="max-w-xs p-3 sm:max-w-xl sm:p-0">
        <h1
          class="text-platinum text-4xl font-extrabold text-balance sm:text-5xl sm:font-bold md:text-6xl"
          transition:name={`playlist ${album?.id} title`}
        >
          {album?.title}
        </h1>
      </div>
      <div class="hidden sm:block">
        <p class="text-platinum text-small flex font-light">
          <span class="block max-w-48 truncate font-medium" transition:name={`playlist ${album?.id} artist`}
            >{album?.artist}</span
          >
          <span class="mx-1 font-medium">•</span>
          {songs}
          <span class="mx-1 font-medium">•</span>
          {releaseYear}
        </p>
      </div>
    </div>
  </div>
</div>
