---
import '@/styles/global.css'
import { ClientRouter } from 'astro:transitions'
import ToastProvider from '@/components/react/toast-provider'

interface Props {
  title: string
  description: string
  og: {
    title: string
    description: string
    url: string
    image: string
  }
}

const { title, description, og } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta property="og:site_name" content="Musicry" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={og.title} />
    <meta property="og:description" content={og.description} />
    <meta property="og:url" content={og.url} />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:image" content={og.image} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@musicry" />
    <meta name="twitter:creator" content="@crisopsdev" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content="https://updkpelnjajgwiyrzyhm.supabase.co/storage/v1/object/public/open-graph/og-musicry.jpg"
    />
    <ClientRouter fallback="none" />
    <title>{title}</title>
  </head>
  <body class="bg-rich-black-dark">
    <div class="relative h-screen">
      <ToastProvider client:load />
      <main class="relative h-full w-full overflow-hidden px-3 sm:px-5 lg:px-10">
        <slot />
      </main>
    </div>
  </body>
</html>
